<div class="span5 well-large">
    <h1>Configuration Lists</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Create New Data
    </a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in configs">
                <td>{{c.name}}</td>
                <td>{{c.label}}</td>
                <td>{{c.value}}</td>
                <td>
                    <a ng-click="edit(c)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(c)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Configuration Form</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
            <label class="control-label" for="name">Name : &nbsp;</label>
            <input type="text" id="name" name="name" placeholder="Configuration Name" ng-model="currentConfig.name" required ui-validate="{configNameAvailable: isConfigNameAvailable}">
            <span ng-show="formEdit.name.$error.required" class="help-inline">Required</span>
            <span ng-show="formEdit.name.$error.configNameAvailable" class="help-inline">Already Exists</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.label.$invalid}">
            <label class="control-label" for="label">Label : &nbsp;</label>
            <input type="text" id="label" name="label" placeholder="Configuration Label" ng-model="currentConfig.label" required>
            <span ng-show="formEdit.label.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Value : &nbsp;</label>
            <input type="text" id="value" name="value" placeholder="Configuration Value" ng-model="currentConfig.value" required>
            <span ng-show="formEdit.value.$error.required" class="help-inline">Required</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
            <button type="button" class="btn" ng-click="baru()">Clear</button>
        </div>
    </form>
</div>